<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" id="form-login" method="post">
        {% csrf_token %}

            <div class="w450" id="username">
                {{ form.username }}
            </div>

            <div class="w459" id="password">
                {{ form.password }}
            </div>

            <button id="btn-registrar" class="button_large">Entrar</button>
            <div class="clearfix"></div>

    </form>
    
</body>
</html>